.div {
    
    border: 5px solid green;
    width:500px; 
    height:400px;  
    background-color: rgb(255, 255, 255);
    right: 400px;
  }
  .he{
    color: #000;
    text-align: center;
    background :#161c18;
    height: 50px;;
}
.hee{
    color: #000;
    text-align: center;
    background :rgb(255, 255, 255);
    height: 50px;;
    padding-top: 10px;
}
.card{
  align-items: center;
  background: #000;
 
}
.card-text{
  color: white;
}
.btnx{
  color:black;
  float: left;;
  background-color: white;
  align-items: center;
}
.dlink{
  color:yellow;
  background-color:black;
}
.btnz{
  background:red;
  color: white;
}